DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/hirematch

SECRET_KEY=your-secret-key

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

REFRESH_TOKEN_EXPIRE_DAYS=7

PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30

PASSWORD_RESET_URL=http://localhost:3000/reset-password

SMTP_HOST=smtp.gmail.com

SMTP_PORT=587

SMTP_USERNAME=khushalitech56@gmail.com

SMTP_PASSWORD=ftclwlyjuioqhxcd

SMTP_FROM_EMAIL=khushalitech56@gmail.com

SMTP_FROM_NAME=HireMatch AI

SMTP_USE_TLS=true


OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_API_KEY=your-ollama-api-key
OLLAMA_LLM_MODEL=llama3
OLLAMA_EMBEDDING_MODEL=nomic-embed-text

GEMINI_API_KEY=your-gemini-api-key
GEMINI_LLM_MODEL=gemini-1.5-flash

OPENAI_API_KEY=your-openai-api-key
OPENAI_LLM_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

HUGGINGFACE_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GOOGLE_REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback

FRONTEND_URL=http://localhost:3000
