fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

python-dotenv

python-jose[cryptography]
bcrypt

python-multipart

python-docx
pdfplumber
pdf2image
pytesseract
authlib
langchain
langgraph
langchain-openai
langchain-google-genai
langchain-ollama
langchain-community
itsdangerous 
httpx
chromadb

sentence-transformers
rank-bm25

openai

celery
redis

boto3

pydantic-settings

httpx

pytest
pgvector

