fastapi
uvicorn[standard]

sqlalchemy
alembic
psycopg2-binary

python-dotenv

python-jose[cryptography]
passlib[bcrypt]

python-multipart

python-docx
pdfplumber
pdf2image
pytesseract

langchain
langgraph
langchain-openai
langchain-community

chromadb

sentence-transformers
rank-bm25

openai

celery
redis

boto3

pydantic-settings

httpx

pytest